ul {
	list-style: none;
}

.navbar {
	display: flex;
	justify-content: center; /* Center the navbar */
	align-items: center;
	padding: 10px 20px;
	background-color: white;
	color: black;
}

.navbar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px; /* Optional: Limit the width of the navbar */
	margin: 0 auto; /* Center the navbar within the viewport */
}

.nav-items-left,
.nav-items-right {
	display: flex;
	flex-direction: row;
}

.nav-items-left {
	margin-right: auto; /* Push left items to the left */
}

.nav-items-right {
	margin-left: auto; /* Push right items to the right */
}

.nav-item {
	margin: 0 15px; /* Space between nav items */
}

.navbar a {
	color: black;
	text-decoration: none;
}

/* Optional: Add hover effects for better UX */
.navbar a:hover {
	color: #007bff; /* Change color on hover */
}
